body .main-container {
  max-width: 1300px;
}

body {
  max-width: 1300px;
  background-color:#e4e4e4;
}



.titles {
  font-size: 2em; 
  background-color: white; 
  font-weight: bold; 
  margin-left: 4px; 
  margin-top: 0; 
  z-index: 200;
}

.sub {
  font-size: 1.4em; 
  font-weight: normal; 
  color: #939393;
}

.box {
   position: absolute; 
   background-color: white; 
   padding: 5px;
   overflow: hidden; 
}

.left {
  left: 1%; 
  top: 2%; 
  padding-top: 0;
  padding-left: 0;
  width: 64%;  
  height: 96%;
}

.inner { 
  padding: 0; 
  margin-left: 12px;
  margin-right: 16px; 
  margin-top: 12px;
  margin-bottom: 16px; 
  height: 98%;
  z-index: 1;
}

.right { 
  left: 66.3%; 
  top: 2%; 
  padding-top: 0;
  width: 32.1%; 
  height: 54.2%;
  z-index: 5;
}

.right-low {
  left: 66.3%; 
  top: 58%;
  padding-top: 0;
  width: 32.1%; 
  height: 40%;
 
}

.us-map {
  width: 98%; 
  height: 92%;
  overflow: hidden;
  margin-top: -12px;
  margin-left: 12px;
  margin-right: 5px;
  padding-top: 12px;
  padding-bottom: 8px;
  z-index: 6;
}

.us-map-inner {
   position: absolute;
   left: 10px;
   top: 0px;
   width: 95%;
   overflow: hidden;
   z-index: -5;
}


.mn-map { 
  width: 96%;
  height: 84%;
  overflow: hidden;
  z-index: 1;
  margin-left: 12px;
  margin-top: 8px;
}


.aqi-days { 
  width: 94.5%; 
  height: 80%;
  overflow: hidden;
  margin-top: 6px;
}



