body .main-container {
  max-width: 1300px;
}

body {
  max-width: 1300px;
  background-color:#e4e4e4;
}


.image {
  float: left;
  width: 45%;
  height: 40%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -2px;
  overflow: hidden;
  border: 1px solid #a5a9ac;
}


.titles {
  font-size: 2em; 
  background-color: white; 
  font-weight: bold; 
  margin-left: 4px; 
  margin-top: 0; 
  z-index: 200;
}

.sub {
  font-size: 1.5em; 
  font-weight: normal; 
  color: #939393;
}

.box {
   position: absolute; 
   background-color: white; 
   padding: 5px;
   overflow: hidden; 
}

.left {
  left: 18px; 
  top: 2%; 
  padding-top: 0;
  width: 62.7%;  
  height: 96%;
}

.inner { 
  padding: 0; 
  margin-left: 20px;
  margin-right: 16px; 
  margin-top: 20px;
  margin-bottom: 16px; 
  height: 98%;
  z-index: 1;
}

.right { 
  left: 65.8%; 
  top: 2%; 
  padding-top: 0;
  width: 33.3%; 
  height: 53.6%;
  z-index: 5;
}

.right-low {
  left: 65.8%; 
  top: 57.6%;
  padding-top: 0;
  width: 33.3%; 
  height: 40.4%;
 
}

.us-map {
  position: absolute;
  left: 20px;
  top: 42px;
  width: 94.4%; 
  height: 92%;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 1.1%;
  margin-right: 5px;
  padding-top: 20px;
  padding-bottom: 8px;
  z-index: 6;
}

.us-map-inner {
   position: absolute;
   left: 10px;
   top: 0px;
   width: 95%;
   overflow: hidden;
   z-index: -5;
}


.mn-map { 
  width: 97%;
  height: 82%;
  overflow: hidden;
  z-index: 1;
  margin-left: 1.2%;
  margin-top: 1%;
}


.aqi-days { 
  width: 100%; 
  height: 80%;
  overflow: hidden;
}



